<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - OnlineCV</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
                <li><a asp-controller="Home" asp-action="Education">Образование</a></li>
                <li><a asp-controller="Home" asp-action="Experience">Опыт</a></li>
                <li><a asp-controller="Home" asp-action="Skills">Навыки</a></li>
                <li><a asp-controller="Home" asp-action="Contact">Контакты</a></li>
                <li><a asp-controller="Tax" asp-action="Index">Калькулятор налогов</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
